In [9]:
myFirstInteger = 30
mySecondInteger = 10
e = myFirstInteger - mySecondInteger # zwei Variablen subtrahiert und in die Varbiable e gespeichert
print(e)

20

In [8]:
print(1+2) # Addieren
print(10-5) # Subtrahieren
print(2*4) # Multiplizieren
print(7/3) # Dividieren
print(17//5) # Dividieren Ergebnis ist Ganzzahl
print(17%5) # Dividieren Ergebnis ist der Rest
print(3**3) # Potenzieren

3
5
8
2.3333333333333335
3
2
27

In [13]:
age = 42
age = age +10
age += 10
print (age)

62

In [14]:
age = 42
print (age) # Gibt den Inhalt des Speichers aus
print (id(age)) # Gibt die Adresse des Speichers aus, nicht den Inhalt

42
98507658071240

In [15]:
myList = set() # Erstellen einer Liste
print (id(myList))
myList.add (3) # Wert 3 in die Liste hinzufügen
myList.add (4) # Wert 4 in die Liste hinzufügen
myList.add (5) # Wert 5 in die Liste hinzufügen 
myList.remove (3) # Wert 3 aus der Liste Entfernen
print (myList)
print (id(myList))
myList = set()
print(id(myList))

139255006890240
{4, 5}
139255006890240
139255006891136

In [17]:
t1 = int (1.75)
print (t1)
t1 = 1.75
print (t1)
t1 = "3,41" + "40"
print (t1)

1
1.75
3,4140

In [20]:
t2 = int ("10110", base = 2)
print(t2)
t3 = int ("FFFFF", base = 16)
print(t3)

22
1048575

In [21]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [27]:
print (0.3 - (0.1 * 3) == 0)
print (0.3 - (0.1 * 3))
print (0.3 - (0.1 * 3) > -0.1 and 0.3 - (0.1 * 3) < 0.1)
print (not(not(0.3 - (0.1 * 3) > -0.1) or not(0.3 - (0.1 * 3) < 0.1)))

False
-5.551115123125783e-17
True
True

In [28]:
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))
print(bool(-10))
print(bool(10))

print()
print(not True)
print(not False)
print(True or False)
print(True and False)

1
0
True
False
True
True

False
True
True
False

In [30]:
c = complex(3.14,2.73)
print(c.real)
print(c.imag)
print(c.conjugate())

3.14
2.73
(3.14-2.73j)

In [32]:
str = "Hallo \n Welt"
str1 = 'Hallo Welt'
str2 = """Hallo

Welt"""
str3 = '''Hallo

Welt'''
print(str)

Hallo
 Welt